.Chat {
  flex-grow: 1;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  &__closeIcon {
    $size: 30px;
    width: $size;
    height: $size;
    position: absolute;
    top: 25px;
    right: 32px;
    cursor: pointer;
  }
}