.Message {
  display: flex;
  padding: 10px;
  $CloudBoxPadding: 7px;
  &__cloudBox {

    background-color: #0084ff;
    border-radius: $CloudBoxPadding $CloudBoxPadding 0 $CloudBoxPadding;
    padding: 6px 12px;
  }
  &--SENT {
    justify-content: flex-end;
  }
  &--RECEIVED {
    justify-content: flex-start;
    .Message__cloudBox {
      border-radius: $CloudBoxPadding $CloudBoxPadding $CloudBoxPadding 0;
      background-color: #7E44AD;
    }
  }
  &__value {
    font-size: 14px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
}