.DashboardPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #904e95 0%, #e96443 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8660f7', endColorstr='#2969cf', GradientType=1);
  &__box {
    width: 80%;
    height: 80%;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
  }
}