.Sender {
  $border-color: #b3b1b1;
  height: 80px;
  display: flex;
  border-top: 1px $border-color solid;
  * {
    outline: none;
  }
  &__input {
    border: none;
    height: 100%;
    flex-grow: 1;
    background-color: white;
    box-sizing: border-box;
    resize: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  button {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-left: 1px solid $border-color;
    background-color: white;
    &:active {
      .Sender__icon {
        transform: scale(.8);
        transition: transform .1s linear;
      }
    }
  }
  &__icon {
    $size: 40px;
    width: $size;
    height: $size;
    animation-fill-mode: forwards;

  }
}